<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1><a href="/">home</a></h1>
    <h1><a href="/navigation/about/">About</a></h1>
    <h1><a href="/navigation/contact/">Contact</a></h1>

    <p>Author:{{author}} </p>
    <p>age : {{age}} </p>

    <!-- conditional statements -->

   {% if age > 20 %}
    <h1>You are eligible for voting</h1>

    {% elif age >= 10 and age <= 19 %}
        <h1>You are a teenager</h1>
    

    {% else %}
        <h1>You are too young</h1>
    {% endif %}

    <!-- using loops -->

    {% for i in courses %}
    <h1> {{i.id}} {{i.name}} </h1>
    {% endfor %}

    <h2> {{courses | length}} </h2>
    <h2> {{ date|date:"D d M Y" }} </h2>
    

    
</body>
</html>